<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.bluetoothviewer"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <application
        android:debuggable="true"
        android:icon="@drawable/launcher_main"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".BluetoothViewer"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:name=".DeviceListActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:label="Bluetooth Permission Request"
            android:name="android.bluetooth.RequestEnableActivity"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter >
                <action android:name="net.bluetoothviewer.action.REQUEST_ENABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="7" />

</manifest>